header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
}

.li
{
    
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin: 0;
    color:black;
    background-color: blanchedalmond
}
/*Tienes que meter article y form en un contenedor y a ese contenedor aplicarle el flexBox*/
article
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    min-height: 50vh;
}

form
{
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    min-height: 30vh;
    box-shadow: 6px 20px 10px whitesmoke;
    position: absolute;
    top:320px;
    left: 10px;
}

.boton
{
    background-color:rgb(90, 211, 100);
    color: white;
    border-color: rgb(90, 211, 100);
    font-weight: 300;
    font-size: 25px;
    border-radius: 15px;
}

footer
{
    color: blanchedalmond;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


body
{
    background-color: black;
}
